SEMANTRIS_LLM_PROVIDER="gemini" 

GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GEMINI_MODEL="gemini-2.5-flash-lite"

OPENAI_API_KEY= YOUR_OPENAI_API_KEY
OPENAI_BASE_URL="https://api.openai.com/v1"
OPENAI_MODEL="gpt-5.2-mini"

SEMANTRIS_VOCAB_FILE="assets/general_1.txt"
PORT="5001"
FLASK_DEBUG="1"
